<h2>Change capacity</h2>
<table>
  <tr>
    <th>Timeslot</th>
    <th>Number of slots</th>
  </tr>
  <tr>
    <td>{{timeslot.timePeriod}}</td>
    <td>{{timeslot.slots}}</td>
  </tr>
</table>

<div class="container" style="margin-top: 2%;">
  <form [formGroup]="timeslotForm" (ngSubmit)="onSubmit(timeslotForm.value)">
    <div class="form-group">
      <label for="amount" style="margin-right: 2%;">
        Increase number of slots:
      </label>
      <input matInput id="amount" type="number" formControlName="amount">
      <button mat-stroked-button type="submit">Submit</button>
    </div>
  </form>
</div>
