table, th , td {
    border: 1px solid hsl(185, 84%, 15%);
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
  }
  
  table tr:nth-child(odd) {
    background-color: #446a6e;
  }
  
  table tr:nth-child(even) {
    background-color: #5f8d91;
  }

  table, h2 {
    margin-left: 15%;
    margin-right: 15%;
    width: 50%;
  }

  button {
    margin-left: 15%;
    margin-right: 15%;

  }

  .zero {
    background-color: #823a37;
  }

  .medium {
    background-color: #a17e10;
  }

  .high {
    background-color: #3e694b ;
  }