<div>
    <h3>FrontForce Reservation app</h3>
    <img class="logo" src="assets/img/FrontForceLogo.png"/>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <div class="form-group">
        <label for="username">
          Username: 
        </label>
        <input id="username" type="text" formControlName="username">
      </div>
    
      <div class="form-group">
        <label for="password">
          Password: 
        </label>
        <input id="password" type="password" formControlName="password">
      </div>
    <button mat-stroked-button type="submit">Submit</button>
  </form>
  </div>